@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo/static/Cairo-Regular.woff2") format("woff2"),
    url("./assets/fonts/Cairo/static/Cairo-Regular.woff") format("woff"),
    url("./assets/fonts/Cairo/static/Cairo-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* عرض النص باستخدام الخط الافتراضي في البداية */
}

@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri/Amiri-Regular.woff2") format("woff2"),
    url("./assets/fonts/Amiri/Amiri-Regular.woff") format("woff"),
    url("./assets/fonts/Amiri/Amiri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* عرض النص باستخدام الخط الافتراضي في البداية */
}

body {
  font-family: "Cairo", sans-serif;
  /* height: 3000px; */
  padding-top: 95px;
}
/* global colors and fonts */
.text-primary {
  color: #f46530;
}
.Amiri-font {
  font-family: "Amiri", serif;
}
.Cairo-font {
  font-family: "Cairo", sans-serif;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.text-shadow-xl {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.15),
    2px 2px 0 rgba(0, 0, 0, 0.1);
}
.shadow-3d {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 0 rgba(0, 0, 0, 0.15),
    3px 3px 0 rgba(0, 0, 0, 0.1);
}

.home-cover {
  background: linear-gradient(135deg, rgba(38, 49, 64, 0.8), rgb(0, 0, 0, 0.8)),
    url("./assets/home-image-min.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 95px);
}
.home-cover h1,
h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* تأثير التدرج */
.home-cover h2 {
  background: linear-gradient(to bottom right, #44c5f0, #6dccf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-cover p {
  padding: 10px;
  font-family: "Amiri", serif;
  font-weight: normal;
  color: #fff;
  font-size: 25px;
}
/* about us and services cover images  */
.home-about h3,
.home-services h2,
.about-history h3,
.home-products p {
  background: linear-gradient(to bottom right, #6dccf1, #44c5f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.15),
    1px 1px 0 rgba(0, 0, 0, 0.1);
}
.home-services h4 {
  font-family: "Amiri", serif;
}
.contact{
  background-image: url("./assets/contact/contactUs.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 95px);
}
.rounded-5{
  border-radius: 5px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .home-cover p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  .home-cover p {
    font-size: 18px;
  }
}
